<div class="container-fluid container-body">
  <div class="p-5">
    <h2 class="text-center">Welcome to Listing page!!</h2>
    <form class="text-center" [formGroup]="addList" (ngSubmit)="onSubmit()">
      <div class="mt-1">
        <mat-form-field class="w-50">
          <mat-label>Select Month</mat-label>
          <mat-select formControlName="month">
            <mat-option value="1">Jan</mat-option>
            <mat-option value="2">Feb</mat-option>
            <mat-option value="3">March</mat-option>
            <mat-option value="4">April</mat-option>
            <mat-option value="5">May</mat-option>
            <mat-option value="6">June</mat-option>
            <mat-option value="7">July</mat-option>
            <mat-option value="8">Aug</mat-option>
            <mat-option value="9">Sep</mat-option>
            <mat-option value="10">Oct</mat-option>
            <mat-option value="11">Nov</mat-option>
            <mat-option value="12">Dec</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && errorHandling('month', 'required')">
            Please select month
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-1">
        <mat-form-field class="w-50">
          <mat-label>Select Year</mat-label>
          <mat-select formControlName="year">
            <mat-option value="2020">2020</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && errorHandling('year', 'required')">
            Please select year
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-4 d-inline-flex">
        <button mat-raised-button color="primary" class="mr-4">
          Submit
        </button>
        <a href="/" class="mt-2"><p>Back</p></a>
      </div>
    </form>
    <div class="row mt-5 text-center">
      <div class="col-md-3">Total Amount</div>
      <div class="col-md-3">Spent Amount</div>
      <div class="col-md-3">Remaning Amount</div>
    </div>
    <div class="row mt-2 text-center">
      <div class="col-md-3">₹ {{ getAmt }}</div>
      <div class="col-md-3">₹ {{ spendAmt }}</div>
      <div class="col-md-3">₹ {{ remaningAmt }}</div>
    </div>
  </div>
</div>
